{% extends 'base.html' %} {% block style %}
<style>
  {{ highlight_css|safe }}

  button.copy {
    position: absolute;
    top: 2rem;
    right: 4rem;
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
  }

  button.copy:hover {
    background-color: #309334;
  }
  
</style>
{% endblock %} {% block content %}
<p>
  Your paste URL:
  <a href="{{ url_for('paste', id=paste.id, _external=True) }}"
    >{{ url_for('paste', id=paste.id, _external=True) }}</a
  >
</p>
<div class="highlight" style="position: relative">
  {{ highlight_body|safe }}
  <button class="copy">copy</button>
</div>
<form method="post">
  {{ form.csrf_token }} {{ form.body(placeholder='Paste your text here...',
  rows=10) }}
  <br />
  {{ form.language }}
  <br />
  <button type="submit">Submit</button>
</form>
<script>
  let copyBtn = document.querySelector('.copy')
  copyBtn.addEventListener('click', async () => {
    const dom = document.createElement("textarea");
    dom.value = document.querySelector('.highlight > :not(button)').textContent;
    document.body.appendChild(dom);
    dom.select();
    document.execCommand("copy");
    document.body.removeChild(dom);
    
    copyBtn.textContent = 'copied!'
  })
  let bodytextArea = document.querySelector('#body');
  bodytextArea.addEventListener('click', function () {
    if(this.style.height != (bodytextArea.scrollHeight+1) + 'px'){
      this.style.height = 'auto';
      this.style.height = (bodytextArea.scrollHeight+1) + 'px';
    }
  })
</script>
{% endblock %}
